<div class="card">
    <p-panel header="Categories Managment">
        <ng-template #icons>
            <p-button label="Add" icon="pi pi-plus" severity="success" size="small" variant="outlined" (click)="addNewCategory()" />
        </ng-template>
        <p-table #categoriesTable [value]="categories" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" dataKey="id" editMode="row" stripedRows>
            <ng-template #header>
                <tr>
                    <th pSortableColumn="name" style="width:20%">Name
                        <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="description" style="width:30%">Description<p-sortIcon field="description" /></th>
                    <th style="width:25%">Parent</th>
                    <th pSortableColumn="status" style="width:10%;text-align: center;">Status<p-sortIcon field="status" /></th>
                    <th style="width:10%;text-align: center;">Options</th>
                </tr>
            </ng-template>
            <ng-template #body let-category let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="category">
                    <td>
                        <p-cellEditor>
                            <ng-template #input>
                                <input
                                    pInputText type="text"
                                    [(ngModel)]="category.name"
                                    [ngClass]="{'is-invalid': showReqired && !category.name}"
                                    required />
                            </ng-template>
                            <ng-template #output>
                                {{category.name}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text"[(ngModel)]="category.description" />
                            </ng-template>
                            <ng-template #output>
                                {{category.description}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template #input>
                                <p-select
                                    [options]="categoriesOptions"
                                    appendTo="body"
                                    [checkmark]="true" 
                                    optionLabel="name" 
                                    optionValue="id" 
                                    [showClear]="true"
                                    [(ngModel)]="category.parentCategoryId"
                                    [style]="{'width':'100%'}" />
                            </ng-template>
                            <ng-template #output>
                                {{getParentName(category.parentCategoryId)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center;">
                        <p-cellEditor>
                            <ng-template #input>
                                <p-select
                                    [options]="statusOptions"
                                    appendTo="body"
                                    [checkmark]="true" 
                                    optionLabel="name" 
                                    optionValue="id" 
                                    [showClear]="true"
                                    [(ngModel)]="category.status"
                                    [ngClass]="{'is-invalid': showReqired && !category.status}"
                                    required
                                    [style]="{'width':'100%'}" />
                            </ng-template>
                            <ng-template #output>
                                <p-badge 
                                [value]="getStatusLabel(category.status)" 
                                [severity]="categoryStatucSeverity(category)" />
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center;">
                <div class="flex items-center justify-center gap-2">
                    <p-button *ngIf="!editing" icon="pi pi-history" (click)="getCategoryLog(category)" [rounded]="true" size="small" severity="help" [outlined]="true" />
                            <p-button *ngIf="!editing" pInitEditableRow icon="pi pi-pen-to-square" (click)="onRowEditInit(category)" [rounded]="true" size="small" severity="info" [outlined]="true" />
                            <p-button *ngIf="!editing" icon="pi pi-times" (click)="confirmDeleteCategory(category.id,$event)" [rounded]="true" size="small" severity="danger" [outlined]="true" />
                    <p-button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(category)"
                        text
                        rounded
                        severity="success" />
                    <p-button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel(category, ri)"
                        text
                        rounded
                        severity="danger"/>
                </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10" style="text-align: center;">No data found</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog [header]="logHeaderText" [modal]="true" [(visible)]="logDialog" [breakpoints]="{ '1199px': '75vw', '575px': '70vw' }" [style]="{ width: '60vw' }">
        <p-table [value]="auditLogs"  [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" stripedRows>
            <ng-template #header>
                <tr>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Old Values</th>
                    <th>New Values</th>
                </tr>
            </ng-template>
            <ng-template #body let-audit>
                <tr>
                    <td>{{formatDate(audit.timestamp)}}</td>
                    <td>
                        <p-badge [value]="audit.action" [severity]="logActionSeverity(audit.action)" />
                    </td>
                    <td>{{audit.oldValues}}</td>
                    <td>{{audit.newValues}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" style="text-align: center;">No data found</td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
</div>